<section id="experience" class="experience-section">
  <h1 class="section-title">My Work Experience</h1>
  <div class="experience-card">
    <div class="timeline">2022 — Present</div>
    <div class="experience-info">
      <div class="role-title">
        Software Engineer &#64; Deloitte USI
      </div>
      <ul class="role-description">
        <li>Implemented new Retention Policy Lambda(from scratch) based cleanup of backup tables which ensured our systems
          retains only critical and necessary data achieving 70% of memory enhancement.</li>
        <li>
          Migrated all ActiveMQs to AWS native Lambdas, hence achieving application modernization, scalability, cost
effectiveness and serverless architecture.
        </li>
        <li>Made our current application Answer Key lighter by clearing countriesavailable list from AK and read from
          countries-metadata.json for EU countries which increased application performance time by 15%.</li>
        <li><span style="font-weight: 800;">Security Improvements:</span> Actively Worked on SAST, DAST, SonarCube, Pentest and MendScan Vulnerabilities
          enhancing the application security aspects.</li>
        <li>
          <span style="font-weight: 800;">Angular and .NET Upgrades:</span> Angular Framework upgrade from Version 16 to 19 and .NET Upgrade from
.NET 6 to 8
        </li>
      </ul>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>Angular</li>
        <li>.NET Core</li>
        <li>SQL</li>
        <li>PostgreSql</li>
        <li>AWS(Application Hosted)</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">Nov-Dec(2020)</div>
    <div class="experience-info">
      <div class="role-title">Web Developer Internship &#64; MobileComm Technologies</div>
      <div class="role-description">
        <p>I did internship at MobileComm Technologies India Pvt Ltd. as Web Developer Intern.</p>
        <p>
          <span style="font-weight:900">Prototyping and Designing:</span>I have to first prototype and then design a user friendly website for the Company with
          various modules assigned to me.
        </p>
      </div>
    </div>
  </div>
</section>
